# AWS Configuration
AWS_REGION=ap-northeast-1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key

# DynamoDB Configuration
DYNAMO_TABLE_NAME=YoutubeList

# Download Configuration
DOWNLOAD_OUTPUT_DIR=./downloads
S3_BUCKET_NAME=audio4gladia

# Options
UPLOAD_TO_S3=false  # trueにするとダウンロード後S3にアップロード